:root {
  --grass: green;
  --water: blue;
  --stone: gray;
  --dessert: yellow;
  user-select: none;
}

body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#menu {
  height: 11vh;
  width: 100vw;
  background-color: rgba(0, 180, 180, 50%);
  position: fixed;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: end;
  justify-items: center;
}

#menu > * {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}

.swatch:before {
  content: "\2B22";
}

#grass {
  color: var(--grass);
}

#water {
  color: var(--water);
}

#stone {
  color: var(--stone);
}

#dessert {
  color: var(--dessert);
}

.rotate {
  height: 100%;
  display: flex;
  align-items: center;
}
