:root {
  --grass: #1D3F14;
  --water: #533FDF;
  --stone: #B0B0B0;
  --dessert: #AAAB2B;
  user-select: none;
}

body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#menu {
  height: 100vh;
  width: fit-content;
  position: fixed;
  left: 0;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, 8rem);
  padding-left: 1rem;
  padding-top: 1rem;
}

.tileTypeSelector {
  cursor: pointer;
}

.tileTypeSelector[selected] {
  height: 7.2rem;
  width: 7.2rem;
  border-color: cyan;
}

.circle {
  border: 2px solid black;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

#grass {
  background-color: var(--grass);
}

#water {
  background-color: var(--water);
}

#stone {
  background-color: var(--stone);
}

#dessert {
  background-color: var(--dessert);
}

.rotate {
  height: 100%;
  display: flex;
  align-items: center;
}
